@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
    <div> 
<<<<<<< HEAD
        <p>đây là trang test 11:11</p>
=======
        <p>đây là trang test dm tk Hung</p>
>>>>>>> d633d1c5a3ffddb07e5339baca5a2130eb55ed61
    </div>
</body>
</html>
